* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, section ,main,footer{
    padding: 3% 10%;
}
header {
    background-color: rgb(48, 47, 47);
    color: white;
    border-bottom: 6px solid yellowgreen;
    display: flex;
    justify-content: space-between;
}
nav{
    width: 40%;
}

.ul1 {
    list-style-type: none;
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 30px;
    background: linear-gradient(180deg, rgba(49, 65, 70, 0.5172443977591037) 13%, rgba(22, 31, 34, 1) 72%);
}

a:link , a:visited{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(164, 164, 164);
}
section {
    display: flex;
    background: -moz-radial-gradient(circle at 48% 0%, rgba(51, 51, 47, 1) 0%, rgba(119, 121, 121, 1) 0%, rgba(55, 55, 55, 1) 100%);
    background: -webkit-radial-gradient(circle at 48% 0%, rgba(51, 51, 47, 1) 0%, rgba(119, 121, 121, 1) 0%, rgba(55, 55, 55, 1) 100%);
    background: -o-radial-gradient(circle at 48% 0%, rgba(51, 51, 47, 1) 0%, rgba(119, 121, 121, 1) 0%, rgba(55, 55, 55, 1) 100%);
    background: -ms-radial-gradient(circle at 48% 0%, rgba(51, 51, 47, 1) 0%, rgba(119, 121, 121, 1) 0%, rgba(55, 55, 55, 1) 100%);
    background: radial-gradient(circle at 48% 0%, rgba(51, 51, 47, 1) 0%, rgba(119, 121, 121, 1) 0%, rgba(55, 55, 55, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
}

.img1 {
    width: 40%;
    height: 18%;
    border: 8px solid rgb(183, 183, 183);
    box-shadow: 10px -10px rgb(59, 58, 58);
}

.info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info h1 {
    color: white;
    font-size: 30px;
}

.info p {
    color: rgb(164, 159, 159);
}

button {
    background-color: yellowgreen;
    padding: 4px;
    border: none;
    width: fit-content;
    color: white;
}

button:hover {
    background-color: rgb(112, 150, 35);
}

main{
    display: flex;
    justify-content: space-between;
    border-bottom: 6px solid yellowgreen;
}
article , aside{
    width: 40%;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.art-ul{
    list-style-type:square;
}
table{
    border-collapse: collapse;
}
.tbimg{
    width: 80px;
    height: 80px;
    border: 3px solid white;
}
th{
    font-size: 30px;
    color: white;
    background-color: rgb(58, 58, 58);
    padding: 8px;
}
td{
    padding: 8px;
}
tr:hover{
    background-color: rgb(152, 152, 152);
}
tr{
    border: 1px solid rgb(188, 187, 187);
    background-color: lightgray;  
}
footer{
    background-color: rgb(48, 47, 47);
}
dl{
    display: flex;
    justify-content: space-between;
}
dt{
    border-radius: 30px;
    background-color: rgb(36, 36, 36);
    padding: 5px;
    width:90px;
}
dd{
    color: rgb(143, 142, 142);
}
.site-info{
    margin-top: 20px;
}